body {
    font-family: Consolas, monospace;
}

table {
    border: 12px solid #111111;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #111111;
    text-align: center;
}